
.main_container {
	width: 80%;
	margin: 0 auto;
}

.left_div {
	float: left;
	width: 45%;
	margin: 0 20px 0px 20px;
}

.right_div {
	float: right;
	width: 45%;
	margin: 0 20px 0px 20px;
}

.left_div1 {
	float: left;
	width: 20%;
	margin: 0 20px 0px 20px;
}

.right_div1 {
	float: right;
	width: 70%;
	margin: 0 20px 0px 20px;
}

.ins_cont {
	width: 30%;
	display: inline-block;
}

.left_div_inside {
	float: left;
	width: 45%;
	margin: 0 0px 0px 5px;
}

.right_div_inside {
	float: right;
	width: 45%;
	margin: 0 5px 0px 0px;
}

.left_div_inside>span, .right_div_inside>span {
	width: 100%;
	display: inline-block;
	margin: 5px 0 5px 0;
}

.left_div>span, .right_div>span {
	width: 100%;
	display: inline-block;
	margin: 5px 0 5px 0;
}

input[type='text'] {
	margin: 0;
	width: 70%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	float: right;
}

.container_div {
	margin: 10px 0 10px 0;
	display: inline-block;
	width: 100%;
}

.container_div1 {
	margin: 5px 0 5px 0;
	display: inline-block;
	width: 100%;
}

.drop_tog, .drop_tog1, .drop_tog2 {
	margin: 5px 0px 5px 20px;
	width: 97%;
	background: #e5e5e5;
}

table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px 0 20px 0;
}

td, th {
	border: 1px solid transparent; /* No more visible border */
	height: 30px;
	transition: all 0.3s; /* Simple transition for hover effect */
}

th {
	background: #DFDFDF; /* Darken header a bit */
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
	background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
	background: #FEFEFE;
}

tr td:hover {
	background: #666;
	color: #FFF;
} /* Hover cell effect! */
