.body {
	background-color: #525252;
}

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.display_block {
	display: block;
}

.login-wraper {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.login-head {
	padding: 15px 30px;
	color: #fff;
	font-size: 27px;
	background: #15a74c;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.login-wraper .card .main-inner {
	background: #fff;
	padding: 0 30px 30px 30px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.form .form-group {
	margin-bottom: 0;
	padding-top: 25px;
}

.padding-top0 {
	padding-top: 0 !important;
}

.padding-top25 {
	padding-top: 25px !important;
}

.error-msg, .help-block {
	color: #f00;
}

.form-group.floatlbl-padding {
	padding-top: 16px;
}

.form-group label.managelabel {
	color: #363636;
	float: left;
	position: static;
}

.rem-link {
	color: #0270e0;
	font-size: 12px;
}

.login-wraper .main-inner .form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	width: 100%;
}
/*
* multi-line comment
*/
p {
	line-height: 1em;
}

h1, h2, h3, h4 {
	color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */
body {
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	margin: 0;
	background: #eee;
}
/* you can put your code all in one line like above */
#page {
	margin: 20px;
}

/* or on different lines like below */
#logo {
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
#nav {
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}

#nav ul {
	
}

#nav ul li {
	display: inline-block;
	height: 62px;
}

#nav ul li a {
	padding: 20px;
	background: orange;
	color: white;
}

#nav ul li a:hover {
	background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active {
	background-color: #ff8f00;
}

#content {
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#footer {
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer p {
	text-align: right;
	text-transform: uppercase;
	font-size: 80%;
	color: grey;
}

/* multiple styles seperated by a , */
#content, ul li a {
	box-shadow: 0px 1px 1px #999;
}

.invalid-error-msg {
    color: red;
    font-size: 12px;
    margin: 0;
    opacity: .7;
    left: 0;
    position: absolute
}
#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}